<footer class="footer">
  <small>
    <a href="https://github.com/Bernardtcs/pairbnb_app"">Pairbnb</a>
    by <a href="https://github.com/Bernardtcs">Bernard Tan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.instagram.com/airbnb/">News</a></li>
    </ul>
  </nav>
</footer>
